.header {
  max-width: 880px;
  margin: 0 auto;
  padding: 0 19px;
}

.header__border {
  border-bottom: 1px rgba(84, 84, 84, 0.7) solid;
}

.header__logo {
  width: 173px;
  height: 33px;
  padding: 45px 0 41px;
}

@media screen and (max-width: 618px) {
  .header {
    padding: 0;
  }

  .header__logo {
    width: 126px;
    height: 24px;
    padding: 28px 0 32px 27px;
  }
}
