.header {
  max-width: 880px;
  margin: 0 auto;
  border-bottom: 1px rgba(84, 84, 84, 0.7) solid;
  padding: 45px 0 40.5px;
}

.header__logo {
  width: 173px;
  height: 33px;
}

@media screen and (max-width: 767px) {
  .header {
    padding: 28px 0 32px;
  }

  .header__logo {
    width: 133px;
    height: 24px;
  }
}
